@import 'prism-theme-vars/base.css';
@import 'prism-theme-vars/marker.css';

:root {
  --prism-font-family: var(--font-family-mono);
  --prism-font-size: 0.85rem;
  --prism-marker-opacity: 0;
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #ffffff;
  --prism-inline-background: #f7f7f7;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2e8f82;
  --prism-number: #2f798a;
  --prism-keyword: #1e754f;
  --prism-function: #59873a;
  --prism-boolean: #1e754f;
  --prism-constant: #a65e2b;
  --prism-deleted: #ab5959;
  --prism-class: #5a6aa6;
  --prism-builtin: #ab5959;
  --prism-property: #998418;
  --prism-namespace: #b05a78;
  --prism-punctuation: #999999;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #296aa3;
}

html.dark {
  --prism-scheme: dark;
  --prism-foreground: #dbd7caee;
  --prism-background: #121212;
  --prism-comment: #758575dd;
  --prism-string: #EB459E;
  --prism-literal: #99f6e4;
  --prism-number: #4C9A91;
  --prism-keyword: #14F195;
  --prism-function: #14F195;
  --prism-boolean: #14F195;
  --prism-constant: #14F195;
  --prism-deleted: #ED4245;
  --prism-class: #5865F2;
  --prism-builtin: #9945FF;
  --prism-property: #FEE75C;
  --prism-namespace: #ff9900;
  --prism-punctuation: #5865F2;
  --prism-decorator: #bd8f8f;
  --prism-regex: #c4704f;
  --prism-json-property: #FEE75C;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-inline-background: #222;
}

.token.title {
  color: var(--prism-keyword);
}

/* Overrides */

pre, code {
  @apply font-mono;
}

:not(pre) > code {
  background: var(--prism-inline-background);
  padding: 1px 6px;
  border-radius: 3px;
}

a > code {
  color: var(--c-brand-dark);
}

div[class*='language-'] {
  position: relative;
}

div[class*='language-'] pre {
  margin: 0;
  z-index: 1;
}

div[class*='language-'] code {
  font-size: var(--prism-font-size);
  font-family: var(--prism-font-family);
}

.token.important {
  font-weight: normal;
}

/* Line highlighting */

.highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--prism-block-padding-y) 0;
  width: 100%;
  line-height: var(--prism-line-height);
  font-family: var(--prism-font-family);
  font-size: var(--prism-font-size);
  user-select: none;
  overflow: hidden;
  z-index: -1;
}

.highlight-lines .highlighted {
  background-color: var(--prism-line-highlight-background);
}
